/* Theme colors */
:root{
    --bg-color: #2b2c3f;
    --accent: #47ffa3;
    --accent-hover: #9cffcd;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
p,
span,
label {
    color: white;
}

#mint,
#goal {
    color: var(--accent);
}

.title {
    font-size: 60px;
}

a {
    color: var(--accent-hover);
    font-size: 20px
}

a:hover {
    color: var(--accent-hover);
}

#button,
#resetBtn,
#btn-train,
#btn-off {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--bg-color);
    width: 130px;
    font-weight: bold;
    font-size: 20px;
}

.hide {
    display: none;
}

.highscore:hover+.hide {
    display: block;
    color: red;
}

select {
    width: 75px;
    height: 30px;
}

#gameOver {
    font-size: 20px;
    display: inline;
}

#grade-level,
#die,
#alive,
#food {
    border-radius: 4%;
}