{% extends "base.html" %}
{% block title %}
    Snake
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='snake.css') }}" />
{% endblock %}
{% block container %}
    <h1 class="text-center title">Try It Yourself</h1>
    <br>
    <!-- Game canvas -->
    <div class="game-container">
        <canvas class="game-board" id="gameBoard" width="640" height="480"></canvas>
    </div>
    <br>
    <!-- Statistics -->
    <p class="text-center" id="scoreText" style="margin-bottom: 0rem;">SCORE: 0</p>
    <p class="text-center" id="gameText" style="margin-bottom: 0rem;">GAMES: 0</p>
    <br>
    <!-- Buttons -->
    <div class="mx-auto mt-1 text-center" style="width: 200px;">
        <button id="resetBtn" class="btn button">play</button>
    </div>
    <br>
    <div class="mx-auto mt-1 text-center" style="width: 200px;">
        <a href="/untrained" class="btn button">continue</a>
    </div>
    <script src="{{url_for('static', filename='snake.js')}}"></script>
{% endblock %}
