{% extends "base.html" %}
{% block title %}
    Training
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='snake.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
{% endblock %}
{% block container %}
    <div class="mx-auto mt-3" style="width: 1000px;">
        <h1 class="text-center title">Training an Agent</h1>
        <br>
        <div class="row">
            <!-- Training Score Progression -->
            <div class="col align-self-start" id="hideme">
                <br>
                <br>
                <br>
                <div class="row">
                    <div style="width: 200px;">
                        <h5 class="text-left">score</h5>
                    </div>
                    <h5 id="score">0</h5>
                </div>
                <br>
                <br>
                <div class="row">
                    <div style="width: 200px;">
                        <h5 class="text-left">your high score:</h5>
                    </div>
                    <h5 id="highscore">0</h5>
                </div>
                <br>
                <br>
                <div class="row">
                    <div style="width: 200px;">
                        <h5 class="text-left accent-text">highscore</h5>
                    </div>
                    <h5 class="accent-text">40</h5>
                </div>
                <br>
                <br>
                <div class="row">
                    <div style="width: 200px;">
                        <h5 class="text-left">games:</h5>
                    </div>
                    <h5 id="games">0/100</h5>
                </div>
                <br>
                <br>
                <div style="width: 300px;" class="row">
                    <h5 class="accent-text">notice how the AI(snake) behaves differently based off how you trained it...</h5>
                </div>
                <br>
                <br>
            </div>
            <!-- Game canvas, sliders, and buttons -->
            <div class="col align-self-center game-container">
                <!-- Game canvas -->
                <canvas class="game-board" id="gameBoard" width="640" height="480"></canvas>
                <!-- Sliders -->
                <div class="col text-center">
                    <br>
                    <fieldset id="training-sliders">
                        <legend>Choose the hyperparameters to train your agent with.</legend>
                        <div class="row">

                            <!-- Left column: agent hyperparameters -->
                            <div class="col">
                                <h5 class="accent-text">Agent</h5>

                                <!-- Learning rate (alpha) -->
                                <div>
                                    <label for="alpha">{{ params.alpha.label }}:</label>
                                    <output id="output-alpha" for="alpha"></output>
                                </div>
                                <div>
                                    <input type="range" min="{{ params.alpha.min }}" max="{{ params.alpha.max }}" step="{{ params.alpha.step }}"
                                        value="{{ params.alpha.default }}"
                                        list="slider-ticks-alpha" class="custom-range"
                                        id="alpha" />
                                    <datalist id="slider-ticks-alpha">
                                    {% for tick in params.alpha.ticks %}<option value="{{ tick }}">{{ tick }}</option>{% endfor %}
                                    </datalist>
                                </div>
                                <br>

                                <!-- Discount factor (gamma) -->
                                <div>
                                    <label for="gamma">{{ params.gamma.label }}:</label>
                                    <output id="output-gamma" for="gamma"></output>
                                </div>
                                <div>
                                    <input type="range" min="{{ params.gamma.min }}" max="{{ params.gamma.max }}" step="{{ params.gamma.step }}"
                                        value="{{ params.gamma.default }}"
                                        list="slider-ticks-gamma" class="custom-range"
                                        id="gamma" />
                                    <datalist id="slider-ticks-gamma">
                                    {% for tick in params.gamma.ticks %}<option value="{{ tick }}">{{ tick }}</option>{% endfor %}
                                    </datalist>
                                </div>
                                <br>

                                <!-- Starting exploration rate (epsilon) -->
                                <div>
                                    <label for="epsilon">{{ params.epsilon.label }}:</label>
                                    <output id="output-epsilon" for="epsilon"></output>
                                </div>
                                <div>
                                    <input type="range" min="{{ params.epsilon.min }}" max="{{ params.epsilon.max }}" step="{{ params.epsilon.step }}"
                                        value="{{ params.epsilon.default }}"
                                        list="slider-ticks-epsilon" class="custom-range"
                                        id="epsilon" />
                                    <datalist id="slider-ticks-epsilon">
                                    {% for tick in params.epsilon.ticks %}<option value="{{ tick }}">{{ tick }}</option>{% endfor %}
                                    </datalist>
                                </div>
                                <br>
                            </div>

                            <!-- Right column: reward function -->
                            <div class="col">
                                <h5 class="accent-text">Rewards</h5>

                                <!-- Eat -->
                                <div>
                                    <label for="eat">{{ params.eat.label }}:</label>
                                    <output id="output-eat" for="eat"></output>
                                </div>
                                <div>
                                    <input type="range" min="{{ params.eat.min }}" max="{{ params.eat.max }}" step="{{ params.eat.step }}"
                                        list="slider-ticks-eat" value="{{ params.eat.default }}" class="custom-range"
                                        id="eat" />
                                    <datalist id="slider-ticks-eat">
                                    {% for tick in params.eat.ticks %}<option value="{{ tick }}">{{ tick }}</option>{% endfor %}
                                    </datalist>
                                </div>
                                <br>

                                <!-- Alive -->
                                <div>
                                    <label for="alive">{{ params.alive.label }}:</label>
                                    <output id="output-alive" for="alive"></output>
                                </div>
                                <div>
                                    <input type="range" min="{{ params.alive.min }}" max="{{ params.alive.max }}" step="{{ params.alive.step }}"
                                        list="slider-ticks-alive" value="{{ params.alive.default }}" class="custom-range"
                                        id="alive" />
                                    <datalist id="slider-ticks-alive">
                                    {% for tick in params.alive.ticks %}<option value="{{ tick }}">{{ tick }}</option>{% endfor %}
                                    </datalist>
                                </div>
                                <br>

                                <!-- Die -->
                                <div>
                                    <label for="die">{{ params.die.label }}:</label>
                                    <output id="output-die" for="die"></output>
                                </div>
                                <div>
                                    <input type="range" min="{{ params.die.min }}" max="{{ params.die.max }}" step="{{ params.die.step }}"
                                        list="slider-ticks-die" value="{{ params.die.default }}" class="custom-range"
                                        id="die" />
                                    <datalist id="slider-ticks-die">
                                    {% for tick in params.die.ticks %}<option value="{{ tick }}">{{ tick }}</option>{% endfor %}
                                    </datalist>
                                </div>
                                <br>
                            </div>

                        </div>
                    </fieldset>
                    <br>
                </div>
                <!-- Buttons -->
                <div class="col">
                    <div class="text-center">
                        <button style="width: 240px;" class="btn button mx-3" id="trainBtn">train</button>
                        <button style="width: 240px;" class="btn button mx-3" id="offBtn">stop training</button>
                    </div>
                    <div class="text-center mt-5">
                        <a href="/evaluation" style="width: 240px;" class="btn button">continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='trainsnake.js')}}"></script>
{% endblock %}
